<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a <strong>Software Developer II at Tulip Retail</strong> in Kitchener, ON, with <strong>three years of experience</strong> specializing in software solutions for the customer strategy department. My role involves enhancing the experience of Michael Kors' associates through collaborative work with cross-functional and Product teams. Proficient in software documentation and design, I align product features with client needs.

    </p>
    <p>
      I hold a Master's in Applied Computer Science from <strong>Dalhousie University (2021)</strong> and a Bachelor's in Computer Engineering from <strong>KSV University (2018)</strong>. Previously, I worked as a Programmer Analyst at <strong>Meditab Software Company for 1.5 years</strong>. In Winter 2021, during a co-op at Tulip, I contributed to the DevTools team, streamlining developer tasks. My diverse background positions me as a versatile professional ready to contribute to software development and customer-focused strategies.
    </p>

    <p>
      <strong>When I'm away from keyboard</strong>, I am working out at gym or enjoy Netflix at home. Recently, I picked up swimming as a new hobby, and I've been making notable progress in my skills.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>