<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently pursuing my masters in Applied Computer Science at
      <a class="underline-link" href="https://www.dal.ca/" target="_blank">Dalhousie University</a> learning and implementing software engineering techniques. I graduated with my bachelor degree from
      <a class="underline-link" href="http://ksv.ac.in/" target="_blank">KSV University</a> in 2018. I worked as Programmer Analyst at 
      <a class="underline-link" href="https://www.meditab.com/" target="_blank">Meditab Software Company</a> for 1.5 years.
    </p>

    <p>
      As a software engineer, I enjoy learning software engineering techniques and working as a team to implement solution for challenging 
      problems. My primary focus while building applications is to provide reliable, scalable and tested deliverable within optimal time.
    </p>

    <p>
      <strong>When I'm away from keyboard</strong>, I'm probably having non-alcholic drink with friends, enjoying popcorn with netflix and chill,
      or playing cricket.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
